* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
h1 {
  font-size: 28px;
}
.showcase {
  background: linear-gradient(to right, rgb(113, 197, 94), #025091);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.logo {
  height: 30px;
}

.navbar {
  width: 100%;
  padding: 25px 0;
}

.navbar-nav .nav-item {
  color: #ffffff;
  transition: 0.2s;
}

.navbar-nav .nav-item:hover {
  color: lavender;
}
.privacy {
  margin-top: 115px;
}
footer {
  color: #fff;
  background: linear-gradient(to right, rgb(113, 197, 94), #025091);
  height: fit-content;
  padding: 35px 0 10px;
}

footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .first {
  text-align: left;
}

footer .first .navbar-brand {
  display: inline-block;
}

footer .first .links,
footer .first .navbar-brand {
  margin-bottom: 25px;
}

footer .first .navbar-brand .logo {
  height: 28px;
}

footer .first .links a {
  color: #fff;
  font-size: 24px;
  margin-right: 15px;
  display: inline-block;
  transition: 0.5s;
}
footer .first .links a:hover {
  transform: scale(0.9) translateY(-5px);
  color: lavender;
}

footer .first .links a:hover,
.copyright a {
  color: lavender;
}

footer .navbar-nav .nav-item {
  text-align: justify;
  padding: 0;
  margin: 5px 0;
}

.contact {
  display: flex;
  text-align: justify;
  flex-direction: column;
  text-align: left;
}

.contact p,
.location p {
  font-size: 14px;
  line-height: 30px;
}

.location {
  text-align: justify;
}

.contact a {
  font-size: 16px;
  text-decoration: none;
  margin: 5px 0;
  color: #ffffff;
}

.contact a:hover {
  color: lavender;
}

.copyright {
  text-align: left;
  font-size: 14px;
  color: #fff;
}
.copyright p {
  font-size: 14px;
  width: 400px;
  text-align: justify;
}

.copyright a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}
@media (max-width: 767.98px) {
  p {
    font-size: 16px;
  }
  .navbar-brand {
    display: inline-block;
    padding-left: 12px;
  }
  .navbar-brand .logo {
    height: 20px;
  }
  .navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-nav {
    padding: 0 15px;
    background-color: #71c55e;
    z-index: 2;
    position: absolute;
    width: 100%;
    left: 0;
  }

  .navbar-nav .nav-item {
    color: #fff;
    margin: 10px 0;
    display: inline-block;
  }

  footer .container {
    justify-content: center;
  }
  footer .content {
    flex-direction: column;
    justify-content: center;
  }
  footer .first {
    text-align: center;
  }

  .contact {
    text-align: center;
  }

  .location {
    text-align: center;
  }

  .copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin: 0 auto;
  }
  .copyright p {
    font-size: 12px;
    text-align: center;
    width: fit-content;
  }

  .copyright a {
    text-align: center;
    display: block;
    margin: 5px 0 0;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  nav.container {
    max-width: 730px !important;
  }
}
