* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h2 {
  font-size: 28px;
  width: 85%;
  margin: 25px auto;
}

p {
  font-size: 20px;
}

.title {
  margin-bottom: 20px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
}
.showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  transition: 0.5s;
  z-index: 2;
  background: url(/Images/office.png) no-repeat center center;
  background-size: cover;
}
.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}
.header-content {
  position: relative;
  z-index: 10;
}

.logo {
  height: 30px;
}

.navbar {
  width: 100%;
  padding: 25px 0;
}

.navbar-nav .nav-item {
  color: #ffffff;
  transition: 0.2s;
}

.navbar-nav .nav-item:hover {
  color: lavender;
}
.header-content {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-50%);
  height: fit-content;
}

.showcase .header-content h1 {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.showcase .header-content p {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 600px;
  margin: 20px auto 40px;
  text-align: center;
}

.showcase .header-content .btn {
  width: fit-content;
  height: fit-content;
  padding: 15px 50px;
  border-radius: 100px;
  margin: 0 15px;
  background: linear-gradient(to right, rgb(113, 197, 94), rgb(2, 80, 145));
}

.showcase .header-content .btn:hover {
  color: black;
  background: linear-gradient(to right, rgb(2, 80, 145), rgb(113, 197, 94));
}
.showcase .header-content .btn:active {
  border: 0;
}

.showcase .header-content h1 .vision {
  font-size: 60px;
  color: aqua;
}

.showcase .header-content h1 .alive {
  font-size: 40px;
  color: coral;
  text-decoration: #71c55e wavy underline;
  text-underline-offset: 0.2em;
  text-underline-position: right;
}

.about {
  text-align: center;
  padding: 50px 0;
}

.about .content {
  margin-top: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  height: fit-content;
}

.about .content .image {
  width: 500px;
  height: 430px;
  border-radius: 20px;
}

.about .content .image img {
  width: inherit;
  height: inherit;
}
.about .text {
  text-align: justify;
  width: 500px;
  height: 500px;
}

.about .text a {
  display: block;
  margin-top: 10px;
  padding: 12px 20px;
  font-size: 14px;
  background-color: #71c55e;
  color: #ffffff;
  box-shadow: 0px 10px 20px -10px #71c55e;
  border-radius: 25px;
  text-transform: capitalize;
  text-decoration: none;
  width: fit-content;
}

.about .text a:hover {
  transform: scale(0.9);
}

.services {
  color: #fff;
  text-align: center;
  padding: 70px 0;
  background: linear-gradient(to right, rgb(113, 197, 94), rgb(2, 80, 145));
}

.services .container .cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 30px;
}
.services .container .cards .item {
  width: 400px;
  height: 500px;
  text-align: justify;
}

.services .container .cards .item:nth-of-type(1) figure {
  background: url(/Images/corporate\ banking.jpg) no-repeat center center;
  background-size: cover;
}
.services .container .cards .item:nth-of-type(2) figure {
  background: url(/Images/Direct\ investment.jpg) no-repeat center center;
  background-size: cover;
}
.services .container .cards .item:nth-of-type(3) figure {
  background: url(/Images/Wealth\ management.jpg) no-repeat center center;
  background-size: cover;
}
.services .container .cards .item:nth-of-type(4) figure {
  background: url(/Images/Loans\ \(2\).jpg) no-repeat center center;
  background-size: cover;
}

.services .container .cards figure {
  width: inherit;
  height: 300px;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s;
  text-align: justify;
}

.services .container .cards .item p {
  font-size: 18px;
  text-align: justify;
}

.services .container .cards figure figcaption {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #141c3a;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  font-size: 20px;
  font-weight: 400;
  padding: 125px 0;
}

.services .container .cards figure:hover figcaption {
  opacity: 0.8;
}

.services .container .cards figcaption a {
  color: #fff;
  border: 3px solid rgb(113, 197, 94);
  border-radius: 50px;
  display: block;
  font-size: 18px;
  padding: 10px;
  width: fit-content;
  text-decoration: none;
  margin: auto;
}

.services .container .cards figcaption a:hover {
  background-color: #71c55e;
  color: black;
}

.strategies {
  text-align: center;
  padding: 70px 0;
  background: linear-gradient(to right, #71c55e, #025091);
  color: #fff;
}

.strategies .container .cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.strategies .container .cards .card {
  color: #000;
  width: 400px;
  margin: 20px;
  border-radius: 5px;
  text-align: justify;
  padding: 0;
}
.strategies .container .cards .card .card-img-top {
  height: 250px;
}

.strategies .container .cards .card .card-body {
  padding: 20px;
}

.strategies a i {
  color: rgb(113, 197, 94);
}

.how-we-do-it {
  text-align: center;
  padding: 70px 0;
}

.how-we-do-it .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.how-we-do-it .content .item {
  text-align: justify;
  height: fit-content;
  width: 400px;
}

.how-we-do-it .content .item img {
  width: inherit;
  height: 300px;
}

.how-we-do-it .content .item div {
  width: 400px;
}

.how-we-do-it .content .item:nth-of-type(1) {
  align-self: flex-start;
}
.how-we-do-it .content .item:nth-of-type(2) {
  align-self: center;
}
.how-we-do-it .content .item:nth-of-type(3) {
  align-self: flex-end;
}

.contact-us {
  padding: 100px 0;
  color: #fff;
  text-align: right;
}

.contact-us .container {
  background: linear-gradient(to right, rgb(113, 197, 94), rgb(2, 80, 145));
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px;
}

.contact-us .container button {
  background-color: #71c55e;
  color: white;
  margin-top: 10px;
  border-radius: 50px;
  border: none;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: transform 1s ease;
}

.contact-us .container button:hover {
  background-color: #fff;
  color: #66b115;
  transform: scale(1.1);
}

footer {
  color: #fff;
  background: linear-gradient(to right, rgb(113, 197, 94), #025091);
  height: fit-content;
  padding: 35px 0 10px;
}

footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .first {
  text-align: left;
}

footer .first .navbar-brand {
  display: inline-block;
}

footer .first .links,
footer .first .navbar-brand {
  margin-bottom: 25px;
}

footer .first .navbar-brand .logo {
  height: 28px;
}

footer .first .links a {
  color: #fff;
  font-size: 24px;
  margin-right: 15px;
  display: inline-block;
  transition: 0.5s;
}
footer .first .links a:hover {
  transform: scale(0.9) translateY(-5px);
  color: lavender;
}

footer .first .links a:hover,
.copyright a {
  color: lavender;
}

footer .navbar-nav .nav-item {
  text-align: justify;
  padding: 0;
  margin: 5px 0;
}

.contact {
  display: flex;
  text-align: justify;
  flex-direction: column;
  text-align: left;
}

.contact p,
.location p {
  font-size: 14px;
  line-height: 30px;
}

.location {
  text-align: justify;
}

.contact a {
  font-size: 16px;
  text-decoration: none;
  margin: 5px 0;
  color: #ffffff;
}

.contact a:hover {
  color: lavender;
}

.copyright {
  text-align: left;
  font-size: 14px;
  color: #fff;
}
.copyright p {
  font-size: 14px;
  width: 400px;
  text-align: justify;
}

.copyright a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}
.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
.header-change {
  background-color: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .showcase {
    background: url(/Images/hero-blur.jpg);
    min-height: 500px !important;
  }
  p {
    font-size: 16px;
  }
  .showcase video {
    display: none;
    height: 0;
  }

  .navbar-brand {
    display: inline-block;
    padding-left: 12px;
  }
  .navbar-brand .logo {
    height: 20px;
  }
  .navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-nav {
    padding: 0 15px;
    background-color: #71c55e;
    z-index: 2;
    position: absolute;
    width: 100%;
  }

  .navbar-nav .nav-item {
    color: #fff;
    margin: 10px 0;
    display: inline-block;
  }

  .showcase .header-content p {
    width: fit-content;
  }
  .about .content .image {
    height: 400px;
  }

  .about .text {
    height: fit-content;
  }
  .about .text p {
    height: inherit;
  }
  .services .container .cards .item {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    text-align: justify;
  }
  .services .container .cards .item figure {
    width: inherit;
  }
  .how-we-do-it .content {
    flex-direction: unset;
  }
  .how-we-do-it .content .item {
    text-align: justify;
    height: fit-content;
    width: 100%;
    max-width: 400px;
    align-self: initial !important;
  }

  .how-we-do-it .content .item img {
    width: inherit;
    height: 300px;
  }
  .how-we-do-it .content .item div {
    width: inherit;
  }

  .contact-us {
    padding: 100px 20px;
  }
  footer .container {
    justify-content: center;
  }
  footer .content {
    flex-direction: column;
    justify-content: center;
  }
  footer .first {
    text-align: center;
  }

  .contact {
    text-align: center;
  }

  .location {
    text-align: center;
  }

  .copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin: 0 auto;
  }
  .copyright p {
    font-size: 12px;
    text-align: center;
    width: fit-content;
  }

  .copyright a {
    text-align: center;
    display: block;
    margin: 5px 0 0;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  nav.container {
    max-width: 730px !important;
  }
}
